<!--
    Author: Nya Croft
    Section: 004

-->
@{
    ViewData["Title"] = "Add A Movie";
}

@model Movie

<style>
    .container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap;
        gap: 20px; 
        text-align: center;
    }

    .contact-form, .contact-image {
        flex: 1; 
        max-width: 50%; 
        text-align: center;
    }

    .contact-image {
        max-width: 500px; 
        height: auto; 
    }
</style>
<br />
<header>
    <h1>Add A Movie</h1>
</header>
<br />
<br />

<div class="image-with-padding">
    <img src="~/img/Movies.jpg" alt="Your Photo" width="300" height="200">
</div>
<br />
<br />

<!--Form to add movie-->
<div class="container">
    <div class="contact-form">
        <form method="post">
            <input type="hidden" asp-for="MovieId" />

            <label asp-for="CategoryId">Category: </label>
            <select asp-for="CategoryId">
                <option value="">Select a Category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
            <br />
            <br />
            <label asp-for="Title">Title: </label>
            <input asp-for="Title" />
            <br />
            <br />
            <label asp-for="Year">Year:</label>
            <input asp-for="Year" />
            <br />
            <br />
            <label asp-for="Director">Director:</label>
            <input asp-for="Director" />
            <br />
            <br />
            <label asp-for="Rating">Rating:</label>
            <select asp-for="Rating" >
                <option value=""> </option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
            <br />
            <br />
            <label asp-for="Edited">Edited:</label>
            <br />
            <div>
                <label>
                    <input type="radio" asp-for="Edited" value="true" /> Yes
                </label>
                <label>
                    <input type="radio" asp-for="Edited" value="false" /> No
                </label>
            </div>
            <br />
            <br />
            <label asp-for="LentTo">Lent To:</label>
            <input asp-for="LentTo" />
            <br />
            <br />
            <label asp-for="Notes">Notes:</label>
            <input asp-for="Notes" />
            <br />
            <br />
            <button type="submit">Submit Movie</button>
            <br />
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>
