<!--
    Author: Nya Croft
    Section: 004

-->

<!-- Deletion Confirmation View-->

@model Movie

<br />
<br />
<h2>Confirm Deletion</h2>
<h3>@Model.Title</h3>
<br />
<br />
<form asp-controller="Home" asp-action="Delete" method="post">

    <input type="hidden" asp-for="MovieId" />

    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="Collection">Cancel</a>
</form>
<br />
<br />
    <div class="image-with-padding">
        <img src="~/img/delete.png" alt="Your Photo" width="300" height="200">
