<!--
    Author: Nya Croft
    Section: 004

-->
@{
    ViewData["Title"] = "Hilton's Film Collection";
}
<br />
<header>
    <h1>The Joel Hilton Film Collection</h1>
</header>
<div class="image-with-padding">
    <img src="~/img/JoelHiltonHeadshot.jpg" alt="Your Photo" width="300" height="200">
</div>
<br />
<div class="info-box">
    <p>
        Welcome to Joel Hilton's Film Collection where you can explore hundreds of movies and TV shows! 
        This database contains some of the most glorious creations humanity has ever created, and we want YOU
        to make it even better by adding your favorite! Click the button below to make your mark! 
    </p>
    <a asp-area="" asp-controller="Home" asp-action="AddMovie" class="quote-button">Add a Movie!</a>

</div>
<br />
<br />
<br />
<br />
<br />



